body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.maindiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* stupid name */
.innermaindiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.step {
  background-color: #EEEEEE;
  margin: 10px;
  border-radius: 5px;
}

.stepelem {
  margin: 20px;
  display: inline-block;
}

.valInput {
  border-radius: 5px;
  border: 0;
  margin: 10px;
  text-align: center;
  width: 50px ;
}

button {
  background-color: #0274FF; 
  border: none;
  border-radius: 5px;
  color: white;
  margin: 10px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.songText {
  color: #30BFFF;
  font-style: italic;
}