body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.maindiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.step {
  background-color: #EEEEEE;
  margin: 10px;
  border-radius: 5px;
}

.stepelem {
  margin: 20px;
  display: inline-block;
}

.valInput {
  border-radius: 5px;
  border: 0;
  margin: 10px;
  text-align: center;
  width: 50px ;
}

.recNameInput { 
  border: 1;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button {
  background-color: #0274FF; 
  border: none;
  border-radius: 5px;
  color: white;
  margin: 10px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.songText {
  color: #30BFFF;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  background-color: transparent; /* Change the background-color of table here */
  text-align: left; /* Change the text-alignment of table here */
}

th {
  font-weight: bold;
  border: 1px solid #cccccc; /* Change the border-color of heading here */
  padding: 8px;
}

td {
  border: 1px solid #cccccc; /* Change the border-color of cells here */
  padding: 8px;
}